@keyframes tile-pop {
    0% {
        opacity: 0;
        margin-top: 3px;
        margin-left: 3px;
        box-shadow: none;
    }
    100% {
        opacity: 1;
        margin: 0;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-400%);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    15%,
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
