@import "./vars.css";

.app-header .logo-container {
    display: block;
}

.app-header .logo-container img.logo {
    display: block;
    width: 250px;
    margin: 20px auto 30px;
}

.app-container {
    --app-width: 300px;

    --gap: 6px;
    --shadow-offset: calc(var(--gap) / 2);
    --grid-size: 4;
    --grid-width: var(--app-width);
    --grid-height: var(--app-width);
    --grid-border-radius: var(--gap);

    display: block;
    width: var(--app-width);
    margin: auto;
}

.controls-container {
    display: flex;
    gap: var(--gap);

    padding: var(--gap);
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 60px;
    flex-grow: 2;

    padding: 2px;

    border-radius: var(--grid-border-radius);
    border: 2px solid #333;

    background-color: #fff;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    user-select: none;
    cursor: default;
}

.score-container .score-label {
    position: absolute;

    background-color: #fff;
    padding: 2px 5px;
    margin-top: -35px;
    font-size: small;
}

.score-container .score-content {
    font-weight: bold;
    font-size: x-large;
}

.app-content {
    display: block;
    width: var(--grid-width);
    height: var(--grid-height);
}

.grid-container {
    --case-width: calc(
        (var(--grid-width) - var(--gap)) / var(--grid-size) - var(--gap)
    );
    --case-height: calc(
        (var(--grid-height) - var(--gap)) / var(--grid-size) - var(--gap)
    );

    user-select: none;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: var(--grid-width);
    height: var(--grid-height);
    padding: var(--gap);
    gap: var(--gap);

    border-radius: var(--grid-border-radius);
    background: #ffffff;
}

.grid-row {
    --grid-row-width: calc(var(--grid-row-width) - 2 * var(--gap));
    --grid-row-height: var(--case-height);
    display: flex;
    width: var(--grid-row-width);
    height: var(--grid-row-height);
    gap: var(--gap);
}

.grid-case {
    display: inline;
    flex: 1;
    align-items: center;
    width: var(--case-height);
    height: var(--case-height);

    border-radius: var(--grid-border-radius);
    background: #eeeeee;
}

.tile-container {
    position: absolute;
    display: inline-block;
}

.tile {
    --offset-x: calc(var(--case-width) + var(--gap));
    --offset-y: calc(var(--case-height) + var(--gap));
    --position-x: 0;
    --position-y: 0;
    --translate-x: calc(
        var(--position-x) * var(--offset-x) - var(--shadow-offset)
    );
    --translate-y: calc(
        var(--position-y) * var(--offset-y) - var(--shadow-offset)
    );

    position: absolute;
    display: inline-block;
    width: var(--case-width);
    height: var(--case-height);

    -webkit-transform: translate(var(--translate-x), var(--translate-y));
    -moz-transform: translate(var(--translate-x), var(--translate-y));
    transform: translate(var(--translate-x), var(--translate-y));

    --color: #000;
    --primary-background: #ffffff;
    --second-background: #f5e0e0;
    --shadow-color: #eac0c0;
    --font-size: 30px;

    text-align: center;
    line-height: var(--case-height);

    color: var(--color);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: var(--font-size);

    background-image: linear-gradient(
        145deg,
        var(--primary-background),
        var(--second-background)
    );
    border-radius: var(--grid-border-radius);
    box-shadow: calc(var(--shadow-offset)) calc(var(--shadow-offset)) 0
        var(--shadow-color);

    -webkit-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: 100ms linear;
    -webkit-transition-property: -webkit-transform, visibility, opacity;
    -moz-transition-property: -moz-transform, visibility, opacity;
    transition-property: transform, visibility, opacity;

    animation: tile-pop 100ms linear;
    overflow: hidden;
}

.tile.hidden {
    visibility: hidden;
}

/* https://coolors.co/ffffff-f5e0e0-eac0c0-d58080-c04040-aa0000-840404-5d0808-370c0c-101010 */
.tile.tile-value-2 {
    --color: #000;
    --primary-background: #ffffff;
    --second-background: #f5e0e0;
    --shadow-color: #eac0c0;
}

.tile.tile-value-4 {
    --color: #000;
    --primary-background: #f5e0e0;
    --second-background: #eac0c0;
    --shadow-color: #d58080;
}

.tile.tile-value-8 {
    --color: #000;
    --primary-background: #eac0c0;
    --second-background: #d58080;
    --shadow-color: #cb6060;
}

.tile.tile-value-16 {
    --color: #000;
    --primary-background: #d58080;
    --second-background: #cb6060;
    --shadow-color: #c04040;
}

.tile.tile-value-32 {
    --color: #000;
    --primary-background: #cb6060;
    --second-background: #c04040;
    --shadow-color: #aa0000;
}

.tile.tile-value-64 {
    --color: #fff;
    --primary-background: #c04040;
    --second-background: #aa0000;
    --shadow-color: #840404;
}

.tile.tile-value-128 {
    --color: #fff;
    --primary-background: #aa0000;
    --second-background: #840404;
    --shadow-color: #5d0808;
}

.tile.tile-value-256 {
    --color: #fff;
    --primary-background: #840404;
    --second-background: #5d0808;
    --shadow-color: #240e0e;
}

.tile.tile-value-512 {
    --color: #fff;
    --primary-background: #5d0808;
    --second-background: #240e0e;
    --shadow-color: #370c0c;
}

.tile.tile-value-1024 {
    --color: #fff;
    --font-size: 25px;
    --primary-background: #240e0e;
    --second-background: #370c0c;
    --shadow-color: #101010;
}

.tile.tile-value-2048 {
    --color: #fff;
    --font-size: 25px;
    --primary-background: #202020;
    --second-background: #090909;
    --shadow-color: #000000;
}
.tile.tile-value-2048:after {
    content: "";
    top: 0;
    transform: translateX(-200%);
    rotate: 45deg;
    opacity: 0;
    /* rotate: 45deg; */
    width: calc(var(--case-height) / 4);
    height: calc(var(--case-height) * 2);
    position: absolute;
    z-index: 1;
    animation: slide 4s ease-in-out 2s infinite normal;

    /* CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/  */
    background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, 0) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        left,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, 0) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        left,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, 0) 100%
    ); /* IE10+ */
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, 0) 100%
    ); /* W3C */
}

.tile.tile-value-2048 .tile-inner {
    background-image: url("../assets/images/logo-dark.svg");
    background-position: 50% 50%;
    background-size: calc(var(--case-width) - var(--gap) * 2) auto;
    background-repeat: no-repeat;
    color: transparent;
}

.tile.tile-value-4096 {
    --color: #fff;
    --font-size: 25px;
    --primary-background: #101010;
    --second-background: #000000;
    --shadow-color: #000000;
}

.tile.tile-value-8192 {
    --color: #fff;
    --font-size: 25px;
    --primary-background: #101010;
    --second-background: #000000;
    --shadow-color: #000000;
}

.tile.tile-position-0-0 {
    --position-x: 0;
    --position-y: 0;
}

.tile.tile-position-1-0 {
    --position-x: 1;
    --position-y: 0;
}

.tile.tile-position-2-0 {
    --position-x: 2;
    --position-y: 0;
}

.tile.tile-position-3-0 {
    --position-x: 3;
    --position-y: 0;
}

.tile.tile-position-0-1 {
    --position-x: 0;
    --position-y: 1;
}

.tile.tile-position-1-1 {
    --position-x: 1;
    --position-y: 1;
}

.tile.tile-position-2-1 {
    --position-x: 2;
    --position-y: 1;
}

.tile.tile-position-3-1 {
    --position-x: 3;
    --position-y: 1;
}

.tile.tile-position-0-2 {
    --position-x: 0;
    --position-y: 2;
}

.tile.tile-position-1-2 {
    --position-x: 1;
    --position-y: 2;
}

.tile.tile-position-2-2 {
    --position-x: 2;
    --position-y: 2;
}

.tile.tile-position-3-2 {
    --position-x: 3;
    --position-y: 2;
}

.tile.tile-position-0-3 {
    --position-x: 0;
    --position-y: 3;
}

.tile.tile-position-1-3 {
    --position-x: 1;
    --position-y: 3;
}

.tile.tile-position-2-3 {
    --position-x: 2;
    --position-y: 3;
}

.tile.tile-position-3-3 {
    --position-x: 3;
    --position-y: 3;
}
