@import "./vars.css";
@import "./reset.css";
@import "./keyframes.css";

html, body {
    overscroll-behavior: none;
}

h1 {
    display: block;
    margin: 5px;
    margin-bottom: 30px;
    padding: 5px;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 95px;
    text-align: center;
}

button {
    --shadow-offset: 3px;
    display: inline-block;

    text-align: center;
    line-height: 25px;

    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;

    background: #eee;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0 #bbbbbb;

    -webkit-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: 100ms linear;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;

    animation: tile-pop 100ms linear;
    
    cursor: pointer;
    user-select: none;

    -webkit-transition: box-shadow 100ms linear, -webkit-transform 100ms linear;
    -moz-transition: box-shadow 100ms linear, -moz-transform 100ms linear;
    transition: box-shadow 100ms linear, transform 100ms linear;
}
button:not(:disabled):hover {
    background-color: #ddd;
}
button:not(:disabled):active {
    box-shadow: none;
    transform: translate(var(--shadow-offset), var(--shadow-offset));
}
button:disabled {
    cursor: not-allowed;
    opacity: .5;
}
button.icon-button {
    width: 35px;
    height: 35px;
    background-position: 50% 50%;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}
button.icon-button.icon-reload {
    background-image: url("../assets/icons/reload.svg");
}
button.icon-button.icon-sound-on {
    background-image: url("../assets/icons/sound-on.svg");
}
button.icon-button.icon-sound-off {
    background-image: url("../assets/icons/sound-off.svg");
}
button.icon-button.icon-settings {
    background-image: url("../assets/icons/settings.svg");
}

.red {
    color: #aa0000;
}
