    @import "./vars.css";
@import "./reset.css";
@import "./keyframes.css";

h1 {
    display: block;
    margin: 5px;
    padding: 5px;

    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 95px;
    text-align: center;
}

button {
    --shadow-offset: 3px;
    display: inline-block;

    text-align: center;
    line-height: 25px;

    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;

    background: #eee;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0 #bbbbbb;

    -webkit-transition: 100ms linear;
    -moz-transition: 100ms linear;
    transition: 100ms linear;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;

    animation: tile-pop 100ms linear;
    
    cursor: pointer;
    user-select: none;

    -webkit-transition: box-shadow 100ms linear, -webkit-transform 100ms linear;
    -moz-transition: box-shadow 100ms linear, -moz-transform 100ms linear;
    transition: box-shadow 100ms linear, transform 100ms linear;
}
button:hover {
    background-color: #ddd;
}
button:active {
    box-shadow: none;
    transform: translate(var(--shadow-offset), var(--shadow-offset));
}

.red {
    color: #aa0000;
}
